* {
  padding: 0px;
  margin: 0px 0px;
  font-family: Big Caslon, Book Antiqua, Palatino Linotype, Georgia, serif;
}

body {}

a {
  text-decoration: none;
  color: tomato;
}

.side-padding {
  padding: 0 8%;
}

nav {
  height: 5rem;
  display: flex;
  justify-content: space-between;
}

.navmenu,
.brandImage {
  margin: auto 0;
}

.navmenu a {
  color: tomato;
  margin: auto 0px;
  margin-left: 2rem;
}

a :active {
  font-size: 5rem;
}


/* Search Section CSS*/
.FoodSearch {
  background-image: url("Assets/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 15rem;
}

.Search {
  padding: 8%;
  color: #000;
  margin: auto;
  text-align: center;
}

input[type=text] {
  width: 40%;
  padding: 3px 3px 3px 15px;
  border: none;
  border-radius: 3px;
}

button {
  padding: 3px;
  background-color: tomato;
  color: #fff;
  border: none;
  border-radius: 3px;
}



/* Explor Food Section CSS*/

.ExplorFood {
  padding-bottom: 5%;
}

.ExplorTitle {
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 2rem;
  text-align: center;
  font-weight: 700;
}

.ExplorImages {
  width: 30%;
}

.img-container {
  display: flex;
  justify-content: space-between;
}

.ExplorImages img {
  width: 100%;
  border-radius: 8px;
}

.flot-container {
  position: relative;
}

.flot-text {
  position: absolute;
  bottom: 40px;
  color: #fff;
  left: 35%;
  font-size: 1.5rem;
}



  /* Food Menu Section CSS*/
.foodmenu {
  background: #B7B7B7;
}

.MenuTitle {
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 700;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  padding: 1% 0px;
}

.food-Information {
  display: flex;
}

.food-menu-Box {
  border-radius: 10px;
  width: 45%;
  height: 7rem;
  background-color: gainsboro;
}

.food-img {
  width: 30%;
  height: 100%;
}

.food-img img {
  width: 99%;
  padding: 1%;
  border-radius: 10px;
}

.food-name {
  padding: 1% 0px 0px 2%;
  }

.food-mrp {
  font-weight: 700;
  margin-top: 2%;
}

.food-discription {
  font-weight: 400;
  font-size: 0.7rem;
}

.food-order {
  margin-top:  2% ;
}

.see-all-food {
  text-align: center;
  padding: 2% 0% 5% 0%;
  font-size: 1.2rem;
}


/* Footer Section Start */
.social-media-icon a img {
  width: 3rem;
  padding: 1rem;
  align-content: center;
}

.social-media-icon {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
}

.footer-line {
  text-align: center;
}

.Namecolor {
  color: tomato;
}

footer {
  padding-bottom: 2%;
}



@media only screen and (max-width: 786px) {
  
  .side-padding {
    padding: 0px 4%;
  }
  
    /* Nav Section CSS */
  nav {
    height: 5.2rem;
    display: block;
  }
  
  .brandImage {
    display: flex;
    justify-content: center;
  }
  
  .brandImage img {
    width: 50%;
    margin: 2% 0px 0px 0px;
  }
  
  .navmenu a {
    margin: 0 4%;
  }
  
  
  
  /* Search Section CSS*/
  .FoodSearch {
    height: 9.2rem;
  }
  
  .Search {
    padding: 13%;
  }
  
  input[type=text] {
    width: 96%;
    padding-left: 3%;
  }
  
  .Search button {
    width: 50%;
    margin-top: 0.5rem;
  }
  
  
  /* Explor Food Section CSS*/
  .ExplorFood {
    padding-bottom: 5%;
  }
  
  .ExplorImages {
    width: 32%;
  }
  
  .flot-text {
    bottom: 10px;
    left: 25%;
    font-size: 1rem;
  }
  
  
  
  /* Food Menu Section CSS*/
  .menu-container {
    display: block;
    padding: 0px;
  }
  
  .food-menu-Box {
    width: 100%;
    margin-bottom: 2%;
  }
  
  .food-img{
    width: 42%;
    display: flex;
    justify-content: center;
  }
  
  .food-discription{
    font-size: 0.8rem;
  }
  
  .see-all-food{
    font-size: 1rem;
  }
  
  /* Footer Section CSS*/
  
 .social-media-icon a img {
   width: 2rem;
 } 
  
  .footer-line {
    font-size: 0.8rem;
  }
  
}