* {
  padding: 0px;
  margin: 0px 0px;
}

body {
  
}

nav {
  margin: 0 5rem;
  height: 5rem;
  display: flex;
  justify-content: space-between;
}

.navmenu {
  margin: auto 0;
}

.navmenu a {
  color: tomato;
  text-decoration: none;
  margin: auto 0px;
  padding-left: 2rem;
}

.FoodSearch {
  
  background-image: url(/Assets/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.Search {
  padding: 6%;
  color: #000;
  margin: auto;
  text-align: center;
}

input[type=text]{
  width: 40%;
  padding: 3px;
  border : none;
  border-radius: 3px ;
}

button {
  padding: 3px;
  background-color: tomato;
  color: #fff;
  border : none;
  border-radius: 3px ;
}

.ExplorFood{
  margin: 0 5rem;
}

.ExplorTitle {
  padding-top: 4rem;
  text-align: center;
  font-weight: 700;
}

.foodimages {
  
}