* {
  padding: 0px;
  margin: 0px 0px;
  font-family: Big Caslon, Book Antiqua, Palatino Linotype, Georgia, serif;
}

body {}

a {
  text-decoration: none;
  color: tomato;
}

.side-margin {
  padding: 0 8%;
}

nav {
  height: 5rem;
  display: flex;
  justify-content: space-between;
}

.navmenu,
.brandImage {
  margin: auto 0;
}


.navmenu a {
  color: tomato;
  margin: auto 0px;
  margin-left: 2rem;
}

a :active {
  font-size: 5rem;
}


/* Search Section CSS*/

.FoodSearch {
  background-image: url("Assets/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 15rem;
}

.Search {
  padding: 8%;
  color: #000;
  margin: auto;
  text-align: center;
}

input[type=text] {
  width: 40%;
  padding: 3px 3px 3px 15px;
  border: none;
  border-radius: 3px;
}

button {
  padding: 3px;
  background-color: tomato;
  color: #fff;
  border: none;
  border-radius: 3px;
}

.ExplorFood {
  height: 30rem;
}

.ExplorTitle {
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 2rem;
  text-align: center;
  font-weight: 700;
  
}

.ExplorImages {
  width: 30%;
}

.img-container {
  display: flex;
  justify-content: space-between;
}

.ExplorImages img {
  width: 100%;
  border-radius: 8px;
}

.flot-container {
  position: relative;
}

.flot-text {
  position: absolute;
  bottom: 40px;
  color: #fff;
  left: 35%;
  font-size: 1.5rem;
}


.foodmenu {
  background: #B7B7B7;
}


.MenuTitle {
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 700;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  padding: 1% 0px;
  
}

.food-Information {
  display: flex;
}


.food-menu-Box {
  border-radius: 10px;
  width: 45%;
  height: 6.5rem;
  background-color: gainsboro;
}

.food-img {
  width: 30%;
}

.food-img img {
  width: 100%;
  padding: 1%;
  border-radius: 10px;
}

.food-name {
  padding: 1% 0px 0px 2%;
  
  
}

.food-mrp {
  font-weight: 700;
  margin-top: 2%;
  
}

.food-discription {
  font-weight: 400;
  font-size: 0.7rem;
}

.food-order {
  margin-top: 2%;
}

.see-all-food {
  text-align: center;
  padding: 2% 0% 5% 0%;
  font-size: 1.2rem;
}


.social-media-icon a img {
  height: 3rem;
  padding: 1rem;
  align-content: center;
}

.social-media-icon {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
}

.footer-line {
  text-align: center;
}

.Namecolor {
  color: tomato;
}

footer {
  padding-bottom: 2%;
}



@media only screen and (max-width: 786px) {
  nav {
    height: 5.2rem;
    display: block;
  }
  
  .brandImage {
    display: flex;
    justify-content: center;
  }
  
  .brandImage img {
    width: 50%;
    margin: 2% 0px;
  }
  
  .navmenu a {
    margin: 0 4%;
  }
  
  .FoodSearch {
    height: 7.25rem;
  }
  
  .Search {
    padding: 13%;
  }
  
  input[type=text] {
    width: 100%;
  }
  
  .Search button {
    width: 50%;
    margin-top: 0.5rem;
  }
  
}